button{
    border: 0px;
    background-color: aquamarine;
    color:white;
    width: 100px;
}
button:hover{
    border: 2px seagreen solid;
    background-color: white;
    color: aquamarine;
}
.pos{
    display: flex;
    justify-content: center;
}
.one{
    font-size: 100px;
}
.two{
    font-family: 'Courier New', Courier, monospace;
}
#color{
    color: brown;
}